header{
    display: flex;
    padding: 5px 70px;
    justify-content: space-between;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 90%;
    background-color: rgb(70, 70, 70);
    color: white;
    justify-content: center;
    font-size:xx-large;
}

header ul{
    display: flex;
    gap: 40px;
}

header li{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 0;
}
.direito img{
    width: 40vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 40px;
}

#info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 20px;
    font-size: x-large;
}

ul{
    list-style-type: none;
    list-style: none;
    padding: 0;
}

li{
    margin: 0;
}

.esquerdo{
    margin-left: 50px;
}